@import "../../styles/variableColors.scss";

.tomorrow-sales {
  margin-left: 7px;
  margin-right: 17px;
  color: var(--def-textColor);
  transition: color 300ms linear;
  @media (max-width: 1024px) {
    margin-right: 0;
  }

  &__title {
    margin-bottom: 10px;
    font-family: "Graphik-Bold";
    font-size: 18px;
    line-height: calc(20px / 18px * 100%);
  }

  &__main-card {
    margin-bottom: 8px;
    overflow: hidden;
    padding: 3px;
    border: 1px solid var(--sm-border);
    transition: border 100ms linear;
    border-radius: 11px;
    @media (max-width: 480px) {
      height: 100%;
    }
    @media (max-width: 480px) {
      overflow: visible;
      max-height: none;
      height: 100%;
    }
  }
}
